# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List the popular languages in Data Science
* List popular libraries in Data Science
* Show some arithmetic expressions
* Show popular data science tools

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. Java
    3. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. NumPy
    2. Pandas
    3. Scipy


| Data Science Tools. |
|---------------------|
| Jupyter Notebook |
| RStudio |
| Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Pranaad R